TEST CENSUS DATA EXPLORATION DATA
- Household: County level:
https://data.census.gov/table?q=housing&g=0500000US01003&d=ACS+1-Year+Estimates+Subject+Tables&tid=ACSST1Y2021.S1101
- X
- Y
- Says that it goes to block level, but the tools fails to provide

API
- https://www.census.gov/data/developers/data-sets/acs-1year.html

Example calls: https://api.census.gov/data/2021/acs/acs1/examples.html which is from https://www.census.gov/data/developers/data-sets/acs-1year.html. Video instruction: https://www.youtube.com/watch?v=Gv95TSk5nNI&t=1s


An example https://api.census.gov/data/2021/acs/acs1?get=NAME,B01001_001E&for=place:*. This looks like it gets B01001_001E (Number of Estimate!!Total: SEX BY AGE) by places

A sample call to get variable B01001_001E (Variable are from https://www.census.gov/data/developers/data-sets/acs-1year.html > 2021 ACS Detailed Tables Variables [ html | xml | json ]

There are county subdivision and place

County subdivisions, as the name suggests, must fall within the county. Many county subdivision names repeat throughout the nation and throughout the same state, so it is important you know which county you are working in. For example, in 2010, Beaver was used as the name of 45 different county subdivisions.

Places stay within state boundaries. Many place names repeat throughout the country (e.g. Kansas City, Kan.  vs. Kansas City, Mo. ), but each is unique, with different mayors, schools and services. In a few cases, place names can even repeat in the same state (e.g. Aaronsburg CDP in Pennsylvania occurs twice).

In [6]:
import requests
import pandas as pd

https://api.census.gov/data/2021/acs/acs1?get=NAME,B01001_001E&for=county%20subdivision:*&in=state:*&in=county:*

Extract sex by age down to subdivison

https://api.census.gov/data/2021/acs/acs1?get=NAME,B01001_001E&for=county%20subdivision:*&in=state:36

In [5]:
import numpy as np

a=np.array([["NAME","B01001_001E","state","county","county subdivision"],
["Rochester city, Monroe County, New York","210594","36","055","63000"],
["Tonawanda town, Erie County, New York","72084","36","029","75000"],
["Hempstead town, Nassau County, New York","790980","36","059","34000"],
["Albany city, Albany County, New York","98624","36","001","01000"],
["North Hempstead town, Nassau County, New York","237429","36","059","53000"],
["Oyster Bay town, Nassau County, New York","299588","36","059","56000"],
["Manhattan borough, New York County, New York","1576876","36","061","44919"],
["Schenectady city, Schenectady County, New York","66985","36","093","65508"],
["Colonie town, Albany County, New York","85448","36","001","17343"],
["Brooklyn borough, Kings County, New York","2641052","36","047","10022"],
["Bronx borough, Bronx County, New York","1424948","36","005","08510"],
["Greenburgh town, Westchester County, New York","93995","36","119","30367"],
["New Rochelle city, Westchester County, New York","81590","36","119","50617"],
["Staten Island borough, Richmond County, New York","493494","36","085","70915"],
["Clarkstown town, Rockland County, New York","86635","36","087","15968"],
["Yonkers city, Westchester County, New York","209506","36","119","84000"],
["Syracuse city, Onondaga County, New York","146124","36","067","73000"],
["Ramapo town, Rockland County, New York","150353","36","087","60510"],
["Babylon town, Suffolk County, New York","218303","36","103","04000"],
["Brookhaven town, Suffolk County, New York","485421","36","103","10000"],
["Huntington town, Suffolk County, New York","204204","36","103","37000"],
["Amherst town, Erie County, New York","129300","36","029","02000"],
["Greece town, Monroe County, New York","96228","36","055","30290"],
["Southampton town, Suffolk County, New York","69328","36","103","68473"],
["Buffalo city, Erie County, New York","276804","36","029","11000"],
["Cheektowaga town, Erie County, New York","89239","36","029","15011"],
["Queens borough, Queens County, New York","2331143","36","081","60323"],
["Islip town, Suffolk County, New York","339939","36","103","38000"],
["Smithtown town, Suffolk County, New York","116318","36","103","68000"],
["Mount Vernon city, Westchester County, New York","72584","36","119","49121"]])

In [10]:
sum(a[1:,1].astype(int))

13195116

https://api.census.gov/data/2021/acs/acs1?get=NAME,B01001_001E&for=state:36

In [ ]:
[["NAME","B01001_001E","state"],
["New York","19835913","36"]]

Is its total the same as the state

### Variables
https://api.census.gov/data/2021/acs/acs5/subject/variables.html
https://api.census.gov/data/2021/acs/acs5/variables.html

Note that variables ending:
- E: Estimate < We care only about this
- EA: Annotation of Estimate 
- M: Margin of errors
- MA: Annotation of Margin of Error

In [1]:
import json

In [2]:
with open('subject_variables.json') as f:
    subject_variables = json.load(f)

In [4]:
with open('detailed_variables.json') as f:
    detailed_variables = json.load(f)

In [7]:
states = pd.read_csv('state.txt', delimiter='|')

In [9]:
detailed_group = ['B01001',  # sex by age
                  'B06011',  # MEDIAN INCOME IN THE PAST 12 MONTHS (IN 2021 INFLATION-ADJUSTED DOLLARS) BY PLACE OF BIRTH IN THE UNITED STATES
                  'B25001',
                 ]
subject_group = ['S2504', # PHYSICAL HOUSING CHARACTERISTICS FOR OCCUPIED HOUSING UNITS
                ]

In [21]:
API_CALL_SUBJECT="https://api.census.gov/data/2021/acs/acs5/subject?get=NAME,group({})&for=county%20subdivision:*&in=state:{}"

In [22]:
API_CALL_DETAIL="https://api.census.gov/data/2021/acs/acs5?get=NAME,group({})&for=county%20subdivision:*&in=state:{}"

In [12]:
keys_of_subject_tables=','.join(subject_group)
keys_of_detailed_tables=','.join(detailed_group)

In [13]:
API_CALL_SUBJECT.format(keys_of_subject_tables)

'https://api.census.gov/data/2021/acs/acs5/subject?get=NAME,group(S2504)&for=county%20subdivision:*&in=state:36'

In [14]:
r=requests.get(API_CALL_SUBJECT.format(keys_of_subject_tables))
r1=requests.get(API_CALL_DETAIL.format(keys_of_detailed_tables))

In [19]:
API_CALL_DETAIL.format(keys_of_detailed_tables)

'https://api.census.gov/data/2021/acs/acs5?get=NAME,group(B01001,B06011,B25001)&for=county%20subdivision:*&in=state:36'

In [30]:
def call(base_link, group: int, state: str):
    """
    state: str
        Due to leading zero, cannot be int
    """
    formatted_link = base_link.format(group, state)
    print(formatted_link)    
    json = requests.get(formatted_link).json()
    return pd.DataFrame(columns=json[0], data=json[1:])

In [31]:
alabama_house=call(API_CALL_SUBJECT, subject_group[0], '01')

https://api.census.gov/data/2021/acs/acs5/subject?get=NAME,group(S2504)&for=county%20subdivision:*&in=state:01

In [32]:
alabama_house

,NAME,GEO_ID,NAME,S2504_C01_001E,S2504_C01_001EA,S2504_C01_001M,S2504_C01_001MA,S2504_C01_002E,S2504_C01_002EA,S2504_C01_002M,...,S2504_C06_037EA,S2504_C06_037M,S2504_C06_037MA,S2504_C06_038E,S2504_C06_038EA,S2504_C06_038M,S2504_C06_038MA,state,county,county subdivision
0,"Autaugaville CCD, Autauga County, Alabama",0600000US0100190171,"Autaugaville CCD, Autauga County, Alabama",1557,None,276,None,1067,None,242,...,None,15.7,None,0.0,None,15.7,None,01,001,90171
1,"Billingsley CCD, Autauga County, Alabama",0600000US0100190315,"Billingsley CCD, Autauga County, Alabama",1150,None,183,None,673,None,189,...,None,15.6,None,0.0,None,15.6,None,01,001,90315
2,"Marbury CCD, Autauga County, Alabama",0600000US0100192106,"Marbury CCD, Autauga County, Alabama",2317,None,262,None,1604,None,280,...,None,15.9,None,0.0,None,15.9,None,01,001,92106
3,"Prattville CCD, Autauga County, Alabama",0600000US0100192628,"Prattville CCD, Autauga County, Alabama",16832,None,401,None,12984,None,601,...,None,0.7,None,0.3,None,0.5,None,01,001,92628
4,"Bay Minette CCD, Baldwin County, Alabama",0600000US0100390207,"Bay Minette CCD, Baldwin County, Alabama",8944,None,625,None,6830,None,592,...,None,2.1,None,0.0,None,2.1,None,01,003,90207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,"Pine Hill CCD, Wilcox County, Alabama",0600000US0113192583,"Pine Hill CCD, Wilcox County, Alabama",922,None,135,None,480,None,116,...,None,19.7,None,0.0,None,19.7,None,01,131,92583
386,"Addison CCD, Winston County, Alabama",0600000US0113390027,"Addison CCD, Winston County, Alabama",3376,None,335,None,2340,None,272,...,None,8.2,None,0.0,None,8.0,None,01,133,90027
387,"Double Springs CCD, Winston County, Alabama",0600000US0113390909,"Double Springs CCD, Winston County, Alabama",1920,None,216,None,1132,None,192,...,None,6.7,None,0.0,None,9.4,None,01,133,90909
388,"Haleyville CCD, Winston County, Alabama",0600000US0113391494,"Haleyville CCD, Winston County, Alabama",3018,None,272,None,1941,None,212,...,None,4.4,None,2.0,None,3.0,None,01,133,91494
389,"Lynn CCD, Winston County, Alabama",0600000US0113392025,"Lynn CCD, Winston County, Alabama",905,None,121,None,633,None,121,...,None,22.2,None,0.0,None,18.5,None,01,133,92025

In [37]:
alabama_house.columns[4].endswith('EA')

True

In [41]:
def drop_margin_error_columns(original_df):
    df = original_df.copy()
    for column in df.columns:
        if column.endswith('EA') or column.endswith('M') or column.endswith('MA'):
            df = df.drop(column, axis=1)
    return df

In [ ]:
def

In [42]:
drop_margin_error_columns(alabama_house)

,NAME,GEO_ID,NAME,S2504_C01_001E,S2504_C01_002E,S2504_C01_003E,S2504_C01_004E,S2504_C01_005E,S2504_C01_006E,S2504_C01_007E,...,S2504_C06_032E,S2504_C06_033E,S2504_C06_034E,S2504_C06_035E,S2504_C06_036E,S2504_C06_037E,S2504_C06_038E,state,county,county subdivision
0,"Autaugaville CCD, Autauga County, Alabama",0600000US0100190171,"Autaugaville CCD, Autauga County, Alabama",1557,1067,2,0,6,32,33,...,5.5,39.0,50.9,4.6,0.0,0.0,0.0,01,001,90171
1,"Billingsley CCD, Autauga County, Alabama",0600000US0100190315,"Billingsley CCD, Autauga County, Alabama",1150,673,0,0,0,0,0,...,4.1,31.4,64.5,0.0,0.0,0.0,0.0,01,001,90315
2,"Marbury CCD, Autauga County, Alabama",0600000US0100192106,"Marbury CCD, Autauga County, Alabama",2317,1604,0,0,0,26,0,...,8.8,39.8,51.4,0.0,0.0,0.0,0.0,01,001,92106
3,"Prattville CCD, Autauga County, Alabama",0600000US0100192628,"Prattville CCD, Autauga County, Alabama",16832,12984,297,53,377,495,828,...,26.5,2.8,70.4,0.0,0.0,0.0,0.3,01,001,92628
4,"Bay Minette CCD, Baldwin County, Alabama",0600000US0100390207,"Bay Minette CCD, Baldwin County, Alabama",8944,6830,44,126,57,144,73,...,6.6,1.5,91.8,0.0,0.0,0.0,0.0,01,003,90207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,"Pine Hill CCD, Wilcox County, Alabama",0600000US0113192583,"Pine Hill CCD, Wilcox County, Alabama",922,480,0,0,24,30,0,...,4.1,4.1,91.8,0.0,0.0,0.0,0.0,01,131,92583
386,"Addison CCD, Winston County, Alabama",0600000US0113390027,"Addison CCD, Winston County, Alabama",3376,2340,3,48,13,0,23,...,0.0,11.9,79.6,0.0,0.0,8.4,0.0,01,133,90027
387,"Double Springs CCD, Winston County, Alabama",0600000US0113390909,"Double Springs CCD, Winston County, Alabama",1920,1132,12,79,0,25,8,...,32.4,13.4,50.0,0.0,0.0,4.2,0.0,01,133,90909
388,"Haleyville CCD, Winston County, Alabama",0600000US0113391494,"Haleyville CCD, Winston County, Alabama",3018,1941,0,97,134,83,24,...,38.6,10.5,47.7,1.2,0.0,0.0,2.0,01,133,91494
389,"Lynn CCD, Winston County, Alabama",0600000US0113392025,"Lynn CCD, Winston County, Alabama",905,633,3,17,0,6,0,...,3.3,14.3,57.7,0.0,0.0,24.7,0.0,01,133,92025

In [26]:
subject_df.columns

Index(['NAME', 'S1901_C01_001E', 'S2504_C01_001E', 'state', 'county',
       'county subdivision'],
      dtype='object')

    STATE STUSAB                   STATE_NAME  STATENS
0       1     AL                      Alabama  1779775
1       2     AK                       Alaska  1785533
2       4     AZ                      Arizona  1779777
3       5     AR                     Arkansas    68085
4       6     CA                   California  1779778
5       8     CO                     Colorado  1779779
6       9     CT                  Connecticut  1779780
7      10     DE                     Delaware  1779781
8      11     DC         District of Columbia  1702382
9      12     FL                      Florida   294478
10     13     GA                      Georgia  1705317
11     15     HI                       Hawaii  1779782
12     16     ID                        Idaho  1779783
13     17     IL                     Illinois  1779784
14     18     IN                      Indiana   448508
15     19     IA                         Iowa  1779785
16     20     KS                       Kansas   481813
17     21     KY                     Kentucky  1779786
18     22     LA                    Louisiana  1629543
19     23     ME                        Maine  1779787
20     24     MD                     Maryland  1714934
21     25     MA                Massachusetts   606926
22     26     MI                     Michigan  1779789
23     27     MN                    Minnesota   662849
24     28     MS                  Mississippi  1779790
25     29     MO                     Missouri  1779791
26     30     MT                      Montana   767982
27     31     NE                     Nebraska  1779792
28     32     NV                       Nevada  1779793
29     33     NH                New Hampshire  1779794
30     34     NJ                   New Jersey  1779795
31     35     NM                   New Mexico   897535
32     36     NY                     New York  1779796
33     37     NC               North Carolina  1027616
34     38     ND                 North Dakota  1779797
35     39     OH                         Ohio  1085497
36     40     OK                     Oklahoma  1102857
37     41     OR                       Oregon  1155107
38     42     PA                 Pennsylvania  1779798
39     44     RI                 Rhode Island  1219835
40     45     SC               South Carolina  1779799
41     46     SD                 South Dakota  1785534
42     47     TN                    Tennessee  1325873
43     48     TX                        Texas  1779801
44     49     UT                         Utah  1455989
45     50     VT                      Vermont  1779802
46     51     VA                     Virginia  1779803
47     53     WA                   Washington  1779804
48     54     WV                West Virginia  1779805
49     55     WI                    Wisconsin  1779806
50     56     WY                      Wyoming  1779807
51     60     AS               American Samoa  1802701
52     66     GU                         Guam  1802705
53     69     MP     Northern Mariana Islands  1779809
54     72     PR                  Puerto Rico  1779808
55     74     UM  U.S. Minor Outlying Islands  1878752
56     78     VI          U.S. Virgin Islands  1802710

In [25]:
assert(len(subject_df)==len(detailed_df))

In [28]:
merged = pd.merge(subject_df, detailed_df, how='inner', 
                  on=['NAME','state', 'county', 'county subdivision'])

In [29]:
assert(len(merged)==len(detailed_df))

In [31]:
merged=merged.rename(vars_name['subject'], axis=1)

In [32]:
merged=merged.rename(vars_name['detailed'], axis=1)

In [33]:
merged

,NAME,INCOME IN THE PAST 12 MONTHS (IN 2021 INFLATION-ADJUSTED DOLLARS,Estimate!!Occupied housing units!!Occupied housing units,state,county,county subdivision,SEX BY AGE
0,"Rochester city, Monroe County, New York",93263,93263,36,055,63000,210594
1,"Tonawanda town, Erie County, New York",31380,31380,36,029,75000,72084
2,"Hempstead town, Nassau County, New York",252410,252410,36,059,34000,790980
3,"Albany city, Albany County, New York",44279,44279,36,001,01000,98624
4,"North Hempstead town, Nassau County, New York",81373,81373,36,059,53000,237429
5,"Oyster Bay town, Nassau County, New York",100178,100178,36,059,56000,299588
6,"Manhattan borough, New York County, New York",737575,737575,36,061,44919,1576876
7,"Schenectady city, Schenectady County, New York",28965,28965,36,093,65508,66985
8,"Colonie town, Albany County, New York",34753,34753,36,001,17343,85448
9,"Brooklyn borough, Kings County, New York",1001868,1001868,36,047,10022,2641052
10,"Bronx borough, Bronx County, New York",533004,533004,36,005,08510,1424948
11,"Greenburgh town, Westchester County, New York",35322,35322,36,119,30367,93995
12,"New Rochelle city, Westchester County, New York",32877,32877,36,119,50617,81590
13,"Staten Island borough, Richmond County, New York",170762,170762,36,085,70915,493494
14,"Clarkstown town, Rockland County, New York",29482,29482,36,087,15968,86635
15,"Yonkers city, Westchester County, New York",81397,81397,36,119,84000,209506
16,"Syracuse city, Onondaga County, New York",62663,62663,36,067,73000,146124
17,"Ramapo town, Rockland County, New York",36634,36634,36,087,60510,150353
18,"Babylon town, Suffolk County, New York",70579,70579,36,103,04000,218303
19,"Brookhaven town, Suffolk County, New York",166710,166710,36,103,10000,485421
20,"Huntington town, Suffolk County, New York",70136,70136,36,103,37000,204204
21,"Amherst town, Erie County, New York",55156,55156,36,029,02000,129300
22,"Greece town, Monroe County, New York",41782,41782,36,055,30290,96228
23,"Southampton town, Suffolk County, New York",23720,23720,36,103,68473,69328
24,"Buffalo city, Erie County, New York",122569,122569,36,029,11000,276804
25,"Cheektowaga town, Erie County, New York",38493,38493,36,029,15011,89239
26,"Queens borough, Queens County, New York",820686,820686,36,081,60323,2331143
27,"Islip town, Suffolk County, New York",101430,101430,36,103,38000,339939
28,"Smithtown town, Suffolk County, New York",41733,41733,36,103,68000,116318
29,"Mount Vernon city, Westchester County, New York",26465,26465,36,119,49121,72584

In [42]:
tmp = requests.get('https://api.census.gov/data/2021/acs/acs1/subject?get=NAME,S1901_C01_001E,S2504_C01_001E&for=county%20subdivision:*&in=state:01')

## 5 year problem

https://api.census.gov/data/2021/acs/acs5?get=NAME,group(B01001)&for=us:1

In [43]:
tmp