## Read the sample data from ZIP+4 Standard

In [8]:
import pandas as pd

In [9]:
standard = pd.read_csv('ZIP+4-Database-Sample.csv')

/var/folders/l3/50s9_hdj54lb4yb3x0kgvpm8ccm355/T/ipykernel_37271/3674014620.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  standard = pd.read_csv('ZIP+4-Database-Sample.csv')

In [20]:
standard.head(10)

,ZipCode,UpdateKey,Action,RecordType,CarrierRoute,StPreDirAbbr,StName,StSuffixAbbr,StPostDirAbbr,AddressPrimaryLowNumber,...,UrbanizationKey,PreferredLastLineKey,ToLatitude,FromLatitude,ToLongitude,FromLongitude,CensusTract,CensusBlock,TLID,LatLonMultiMatch
0,6468,V204156243,A,S,R014,NaN,KETTLE CREEK,LN,NaN,0000000031,...,NaN,V20389,41.340739,41.341034,-73.198094,-73.200015,100300.0,8004.0,3279602.0,NaN
1,6468,V204156244,A,S,R004,NaN,KIMBERLY,DR,NaN,0000000002,...,NaN,V20389,41.333892,41.335695,-73.240468,-73.241559,100200.0,3007.0,3286518.0,NaN
2,6468,V204156245,A,S,R004,NaN,KIMBERLY,DR,NaN,0000000001,...,NaN,V20389,41.333892,41.335695,-73.240468,-73.241559,100200.0,3007.0,3286518.0,NaN
3,6468,V204156246,A,S,R004,NaN,KIMBERLY,DR,NaN,0000000017,...,NaN,V20389,41.333892,41.335695,-73.240468,-73.241559,100200.0,3007.0,3286518.0,NaN
4,6468,V204156254,A,S,R007,NaN,LANTHORNE,RD,NaN,0000000001,...,NaN,V20389,41.319396,41.321396,-73.225458,-73.224958,100200.0,3030.0,3216859.0,Y
5,6468,V204156263,A,S,R004,NaN,LIMA,DR,NaN,0000000001,...,NaN,V20389,41.333095,41.334195,-73.245059,-73.243959,100200.0,3008.0,3216637.0,Y
6,6468,V204156265,A,S,R011,NaN,LITTLE DIET,RD,NaN,0000000001,...,NaN,V20389,41.334275,41.334030,-73.265516,-73.264263,100100.0,1027.0,3281228.0,Y
7,6468,V204156268,A,S,R007,NaN,LONGVIEW,RD,NaN,0000000002,...,NaN,V20389,41.327696,41.328196,-73.225058,-73.221958,100200.0,3018.0,3216845.0,Y
8,6468,V204156269,A,S,R007,NaN,LONGVIEW,RD,NaN,0000000054,...,NaN,V20389,41.327196,41.327696,-73.227958,-73.225058,100200.0,3013.0,3216847.0,Y
9,6468,V204156270,A,S,R007,NaN,LONGVIEW,RD,NaN,0000000001,...,NaN,V20389,41.327696,41.328196,-73.225058,-73.221958,100200.0,3018.0,3216845.0,NaN

In [25]:
len(set(standard[standard['ZipCode']==6468]['CarrierRoute']))

31

In [21]:
standard.iloc[4]

ZipCode                           6468
UpdateKey                   V204156254
Action                               A
RecordType                           S
CarrierRoute                      R007
StPreDirAbbr                       NaN
StName                       LANTHORNE
StSuffixAbbr                        RD
StPostDirAbbr                      NaN
AddressPrimaryLowNumber     0000000001
AddressPrimaryHighNumber    0000000099
AddressPrimaryEvenOdd                B
BuildingName                       NaN
AddressSecAbbr                     NaN
AddressSecLowNumber                NaN
AddressSecHighNumber               NaN
AddressSecOddEven                  NaN
Plus4Low                          1728
Plus4High                         1728
BaseAlternateCode                    B
LACSStatus                         NaN
GovernmentBuilding                 NaN
FinanceNumber                    84392
State                               CT
CountyFIPS                           1
CongressionalDistrict                4
MunicipalityKey                    NaN
UrbanizationKey                    NaN
PreferredLastLineKey            V20389
ToLatitude                   41.319396
FromLatitude                 41.321396
ToLongitude                 -73.225458
FromLongitude               -73.224958
CensusTract                   100200.0
CensusBlock                     3030.0
TLID                         3216859.0
LatLonMultiMatch                     Y
Name: 4, dtype: object

In [33]:
standard.dtypes

ZipCode                       int64
UpdateKey                    object
Action                       object
RecordType                   object
CarrierRoute                 object
StPreDirAbbr                 object
StName                       object
StSuffixAbbr                 object
StPostDirAbbr                object
AddressPrimaryLowNumber      object
AddressPrimaryHighNumber     object
AddressPrimaryEvenOdd        object
BuildingName                 object
AddressSecAbbr               object
AddressSecLowNumber          object
AddressSecHighNumber         object
AddressSecOddEven            object
Plus4Low                     object
Plus4High                    object
BaseAlternateCode            object
LACSStatus                   object
GovernmentBuilding          float64
FinanceNumber                 int64
State                        object
CountyFIPS                    int64
CongressionalDistrict         int64
MunicipalityKey             float64
UrbanizationKey             float64
PreferredLastLineKey         object
ToLatitude                  float64
FromLatitude                float64
ToLongitude                 float64
FromLongitude               float64
CensusTract                 float64
CensusBlock                 float64
TLID                        float64
LatLonMultiMatch             object
dtype: object

In [11]:
standard.isna().sum()

ZipCode                         0
UpdateKey                       0
Action                          0
RecordType                      0
CarrierRoute                    0
StPreDirAbbr                46961
StName                          0
StSuffixAbbr                 1258
StPostDirAbbr               47923
AddressPrimaryLowNumber        74
AddressPrimaryHighNumber       74
AddressPrimaryEvenOdd           0
BuildingName                42285
AddressSecAbbr              37682
AddressSecLowNumber         37780
AddressSecHighNumber        37780
AddressSecOddEven           33726
Plus4Low                        0
Plus4High                       0
BaseAlternateCode               0
LACSStatus                  47990
GovernmentBuilding          48188
FinanceNumber                   0
State                           0
CountyFIPS                      0
CongressionalDistrict           0
MunicipalityKey             48188
UrbanizationKey             48188
PreferredLastLineKey            0
ToLatitude                      0
FromLatitude                    0
ToLongitude                     0
FromLongitude                   0
CensusTract                 19348
CensusBlock                 19348
TLID                        19348
LatLonMultiMatch            34217
dtype: int64

In [16]:
sum(standard.isna().sum() > 0) / len(standard.columns) * 100

48.64864864864865

In [26]:
# if zip codes and routes are the pk

In [38]:
standard.shape

(48188, 37)

In [37]:
standard[['ZipCode', 'CarrierRoute', 'StName']].drop_duplicates()

       ZipCode CarrierRoute        StName
0         6468         R014  KETTLE CREEK
1         6468         R004      KIMBERLY
4         6468         R007     LANTHORNE
5         6468         R004          LIMA
6         6468         R011   LITTLE DIET
...        ...          ...           ...
47410     6811         C070  ROWAN STREET
47508     6810         C079       BRISTOL
47557     6606         C019       MICHAEL
47561     6484         C007          JOEL
47735     6801         C014      WILDWOOD

[7315 rows x 3 columns]

In [43]:
standard[['ZipCode', 'CarrierRoute', 'StName', 'AddressPrimaryLowNumber']].drop_duplicates()

       ZipCode CarrierRoute        StName AddressPrimaryLowNumber
0         6468         R014  KETTLE CREEK              0000000031
1         6468         R004      KIMBERLY              0000000002
2         6468         R004      KIMBERLY              0000000001
3         6468         R004      KIMBERLY              0000000017
4         6468         R007     LANTHORNE              0000000001
...        ...          ...           ...                     ...
48119     6608         C017         NOBLE              0000000941
48170     6810         C040          WEST              0000000074
48182     6606         C002          MAIN              0000002765
48183     6606         C002          MAIN              0000002801
48184     6611         C025     OLD GREEN              0000000001

[36427 rows x 4 columns]

In [36]:
standard[(standard['ZipCode']==6468) & (standard['CarrierRoute']=='R014')]

,ZipCode,UpdateKey,Action,RecordType,CarrierRoute,StPreDirAbbr,StName,StSuffixAbbr,StPostDirAbbr,AddressPrimaryLowNumber,...,UrbanizationKey,PreferredLastLineKey,ToLatitude,FromLatitude,ToLongitude,FromLongitude,CensusTract,CensusBlock,TLID,LatLonMultiMatch
0,6468,V204156243,A,S,R014,NaN,KETTLE CREEK,LN,NaN,0000000031,...,NaN,V20389,41.340739,41.341034,-73.198094,-73.200015,100300.0,8004.0,3279602.0,NaN
54,6468,V204156376,A,S,R014,NaN,MONROE,TPKE,NaN,0000000260,...,NaN,V20389,41.302196,41.301696,-73.223558,-73.223858,100100.0,9042.0,3217072.0,Y
55,6468,V204156379,A,S,R014,NaN,MONROE,TPKE,NaN,0000000300,...,NaN,V20389,41.313296,41.312196,-73.219658,-73.220858,100200.0,2004.0,3217056.0,Y
56,6468,V204156380,A,S,R014,NaN,MONROE,TPKE,NaN,0000000450,...,NaN,V20389,41.314296,41.313296,-73.218658,-73.219658,100200.0,2004.0,3217059.0,Y
57,6468,V204156381,A,S,R014,NaN,MONROE,TPKE,NaN,0000000484,...,NaN,V20389,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43038,6468,V210433963,A,S,R014,NaN,MILL BROOK,TER,NaN,0000000101,...,NaN,V20389,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
45688,6468,V210631503,A,H,R014,NaN,MONROE,TPKE,NaN,0000000500,...,NaN,V20389,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
47089,6468,V210695564,A,H,R014,NaN,MONROE,TPKE,NaN,0000000470,...,NaN,V20389,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
47090,6468,V210695565,A,H,R014,NaN,MONROE,TPKE,NaN,0000000470,...,NaN,V20389,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
47127,6468,V210700742,A,H,R014,NaN,MONROE,TPKE,NaN,0000000470,...,NaN,V20389,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN

In [44]:
# Street name is from https://catalog.data.gov/dataset/street-names

In [45]:
street_names = pd.read_csv('Street_Names.csv')

In [46]:
street_names.sample(20)

          FullStreetName       StreetName StreetType PostDirection
2267       SUNNYDALE AVE        SUNNYDALE        AVE           NaN
475   DR MAYA ANGELOU LN  DR MAYA ANGELOU         LN           NaN
5                03RD ST             03RD         ST           NaN
1156           HORACE ST           HORACE         ST           NaN
2173          SHIPLEY ST          SHIPLEY         ST           NaN
1429       LIVINGSTON ST       LIVINGSTON         ST           NaN
792        ELLINGTON AVE        ELLINGTON        AVE           NaN
601            CORONA ST           CORONA         ST           NaN
428         CAMELLIA AVE         CAMELLIA        AVE           NaN
2405         UNNAMED 051      UNNAMED 051        NaN           NaN
1370           KELHAM ST           KELHAM         ST           NaN
729           DORCAS WAY           DORCAS        WAY           NaN
510             CHILD ST            CHILD         ST           NaN
200            ATOLL CIR            ATOLL        CIR           NaN
1843       PENINSULA AVE        PENINSULA        AVE           NaN
1596           METSON RD           METSON         RD           NaN
1924           PUTNAM ST           PUTNAM         ST           NaN
629      CRESTA VISTA DR     CRESTA VISTA         DR           NaN
298        BENNINGTON ST       BENNINGTON         ST           NaN
1644          MONTANA ST          MONTANA         ST           NaN

In [47]:
# https://catalog.data.gov/dataset/zip-code-data

## Recreation of ZIP-codes.com data

### Read from API

1. Getting your secret key at
2. Save to file .secret with structure
```
key: *paste_your_key_here*
```
3. Run this notebook

In [3]:
import yaml

with open(".secret", "r") as stream:
    try:
        secret=yaml.safe_load(stream)
    except yaml.YAMLError as exc:
        print(exc)

In [7]:
from census import Census
from us import states

c = Census(secret['key'])
c.acs5.get(('NAME', 'B25034_010E'),
          {'for': 'state:{}'.format(states.MD.fips)})

[{'NAME': 'Maryland', 'B25034_010E': 127820.0, 'state': '24'}]

## Read data from Census + QGIS

Data source are from [Census](https://www2.census.gov/geo/tiger/TIGER2022/). Extraction is with QGIS

In [70]:
import pandas as pd

In [57]:
zipcodes=pd.read_csv('three_files.csv')

In [58]:
zipcodes.shape

(29047, 27)

In [59]:
zipcodes.columns

Index(['TLID', 'TFIDL', 'TFIDR', 'ARIDL', 'ARIDR', 'LINEARID', 'FULLNAME',
       'LFROMHN', 'LTOHN', 'RFROMHN', 'RTOHN', 'ZIPL', 'ZIPR', 'EDGE_MTFCC',
       'ROAD_MTFCC', 'PARITYL', 'PARITYR', 'PLUS4L', 'PLUS4R', 'LFROMTYP',
       'LTOTYP', 'RFROMTYP', 'RTOTYP', 'OFFSETL', 'OFFSETR', 'layer', 'path'],
      dtype='object')

In [54]:
zipcodes.head()

,TLID,TFIDL,TFIDR,ARIDL,ARIDR,LINEARID,FULLNAME,LFROMHN,LTOHN,RFROMHN,...,PLUS4L,PLUS4R,LFROMTYP,LTOTYP,RFROMTYP,RTOTYP,OFFSETL,OFFSETR,layer,path
0,2843080,263682042,215952763,NaN,4.005401e+11,110585091698,Thunder Trl,NaN,NaN,1801,...,NaN,NaN,NaN,NaN,NaN,I,N,N,tl_2022_01001_addrfeat — tl_2022_01001_addrfea...,/vsizip//Users/minh.chau/code/zipcodes/tl_2022...
1,642150114,215953632,263682042,4.003991e+12,4.005600e+12,110585079121,Co Rd 19 N,2223,2299,2200,...,NaN,NaN,NaN,I,NaN,NaN,N,N,tl_2022_01001_addrfeat — tl_2022_01001_addrfea...,/vsizip//Users/minh.chau/code/zipcodes/tl_2022...
2,2823337,215953937,215953936,4.001095e+13,4.005401e+11,110585080778,Co Rd 618,1700,1798,1701,...,NaN,NaN,NaN,NaN,NaN,NaN,N,N,tl_2022_01001_addrfeat — tl_2022_01001_addrfea...,/vsizip//Users/minh.chau/code/zipcodes/tl_2022...
3,2823337,215953937,215953936,4.003991e+12,4.005401e+11,110585080978,Josh Dr,1700,1798,1701,...,NaN,NaN,NaN,NaN,NaN,NaN,N,N,tl_2022_01001_addrfeat — tl_2022_01001_addrfea...,/vsizip//Users/minh.chau/code/zipcodes/tl_2022...
4,639782755,262079290,265123026,4.004037e+12,4.004037e+12,110585085990,Calvin Loop,2001,2099,2000,...,NaN,NaN,NaN,NaN,NaN,NaN,N,N,tl_2022_01001_addrfeat — tl_2022_01001_addrfea...,/vsizip//Users/minh.chau/code/zipcodes/tl_2022...

In [65]:
zipcodes['ZIPL']=zipcodes['ZIPL'].astype("Int64")

In [66]:
zipcodes['ZIPR']=zipcodes['ZIPR'].astype("Int64")

In [67]:
zipcodes['PLUS4R']=zipcodes['PLUS4R'].astype("Int64")
zipcodes['PLUS4L']=zipcodes['PLUS4L'].astype("Int64")

Currently I am using these columns, their meaning are in [documentation, page 140](https://www2.census.gov/geo/pdfs/maps-data/data/tiger/tgrshp2022/TGRSHP2022_TechDoc.pdf), we can take other columns as needed:
 
| Column              | Meaning |
|-------------------|-------------------------------------------------|
| ZIPL              | ZIP code associated with the left address range |
| ZIPR              | ZIP code associated with the right address range |
| PLUS4L            |  Left side ZIP+4 Code                           |
|  PLUS4R | Right side ZIP+4 Code                           |
|FULLNAME|Concatenation of expanded text for prefix qualifier, prefix direction, prefix type, base name, suffix type, suffix direction, and suffix qualifier |

In [68]:
columns_to_take=['ZIPL','ZIPR','PLUS4L','PLUS4R','FULLNAME']

In [69]:
zipcodes[columns_to_take]

        ZIPL   ZIPR  PLUS4L  PLUS4R          FULLNAME
0       <NA>  36067    <NA>    <NA>       Thunder Trl
1      36067  36067    <NA>    <NA>        Co Rd 19 N
2      36006  36006    <NA>    <NA>         Co Rd 618
3      36006  36006    <NA>    <NA>           Josh Dr
4      36006  36006    <NA>    <NA>       Calvin Loop
...      ...    ...     ...     ...               ...
29042  36027   <NA>    <NA>    <NA>     E Boundary St
29043   <NA>  36027    <NA>    <NA>        Cowikee St
29044  36027  36027    <NA>    <NA>  Hunters Inlet Rd
29045   <NA>  36027    <NA>    <NA>          Pine Ave
29046  36027   <NA>    <NA>    <NA>      E Barbour St

[29047 rows x 5 columns]

Tract data can be accessed through ftp://ftp.census.gov/geo/tiger/TIGER2022/TRACT/
```python
# Make sure to have QGIS 3.0 or above
import glob

for filename in glob.glob(os.path.expanduser("~/code/zipcodes/tract/*.shp")):
    wb = QgsVectorLayer(filename, 'tract', 'ogr')
    QgsProject.instance().addMapLayer(wb)
```

## Load `all_tract.csv`

In [13]:
import pandas as pd
all_tract = pd.read_csv('all_tract.csv', index_col=False)

In [14]:
all_tract.shape

(85529, 14)

In [15]:
all_tract.sample(10,random_state=4)

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,layer,path
80345,8,59,11551,8059011551,115.51,Census Tract 115.51,G5020,S,2156822,13726,39.731455,-105.070651,tract,/Users/chaum/code/zipcodes/tract/tl_2022_08_tr...
61139,48,453,2216,48453002216,22.16,Census Tract 22.16,G5020,S,56128548,2005943,30.233782,-97.581662,tract,/Users/chaum/code/zipcodes/tract/tl_2022_48_tr...
47602,1,101,5607,1101005607,56.07,Census Tract 56.07,G5020,S,5860604,38479,32.328572,-86.140398,tract,/Users/chaum/code/zipcodes/tract/tl_2022_01_tr...
78535,42,91,200402,42091200402,2004.02,Census Tract 2004.02,G5020,S,1709215,0,40.183057,-75.101933,tract,/Users/chaum/code/zipcodes/tract/tl_2022_42_tr...
72283,39,35,141400,39035141400,1414.00,Census Tract 1414,G5020,S,1509027,0,41.496611,-81.578635,tract,/Users/chaum/code/zipcodes/tract/tl_2022_39_tr...
7903,55,79,101100,55079101100,1011.00,Census Tract 1011,G5020,S,1347710,0,42.994209,-88.042767,tract,/Users/chaum/code/zipcodes/tract/tl_2022_55_tr...
51445,26,71,200,26071000200,2.00,Census Tract 2,G5020,S,1392254790,40896358,46.254989,-88.752407,tract,/Users/chaum/code/zipcodes/tract/tl_2022_26_tr...
68669,17,31,681400,17031681400,6814.00,Census Tract 6814,G5020,S,646368,0,41.761522,-87.649171,tract,/Users/chaum/code/zipcodes/tract/tl_2022_17_tr...
56067,21,1,970300,21001970300,9703.00,Census Tract 9703,G5020,S,191516273,892276,37.128164,-85.156588,tract,/Users/chaum/code/zipcodes/tract/tl_2022_21_tr...
8716,13,121,6601,13121006601,66.01,Census Tract 66.01,G5020,S,1929137,0,33.711564,-84.422371,tract,/Users/chaum/code/zipcodes/tract/tl_2022_13_tr...

In [16]:
all_tract.isna().sum()

STATEFP     0
COUNTYFP    0
TRACTCE     0
GEOID       0
NAME        0
NAMELSAD    0
MTFCC       0
FUNCSTAT    0
ALAND       0
AWATER      0
INTPTLAT    0
INTPTLON    0
layer       0
path        0
dtype: int64

## From address to lat long

In [1]:
# reformat the column of the csv file
import pandas as pd

In [19]:
# According to documentation at https://geocoding.geo.census.gov/geocoder/Geocoding_Services_API.html#_Toc7768597
# we must submit a file with columns Unique ID, Street address, City, State, ZIP
a=pd.read_csv('addresses_2.csv')

In [20]:
a.columns

Index(['Address 1 ', 'Address 2 ', 'City ', 'County ', 'State ', 'Zip Code '], dtype='object')

In [21]:
a=a.rename({'Address 1 ': 'Street address', 'City ': 'City',
          'State ': 'State', 'Zip Code ': 'ZIP'}, axis=1)

In [22]:
a.index=a.index.rename('Unique ID')

In [23]:
a

,Street address,Address 2,City,County,State,ZIP
Unique ID,,,,,,
0,71 ST. NICHOLAS DRIVE,NaN,NORTH POLE,FAIRBANKS NORTH STAR,AK,99705.0
1,356 OLD STEESE HWY,NaN,FAIRBANKS,FAIRBANKS NORTH STAR,AK,99701.0
2,3576 AIRPORT WAY,UNIT 9,FAIRBANKS,FAIRBANKS NORTH STAR,AK,99709.0
3,9400 GLACIER HWY,SUITE 1,JUNEAU,JUNEAU,AK,99803.0
4,201 KATLIAN ST,STE. 108,SITKA,SITKA,AK,99835.0
...,...,...,...,...,...,...
2139,209B MERCHANT WALK,NaN,SUMMERSVILLE,NaN,WV,26651.0
2140,751 BEVERLY PIKE,NaN,ELKINS,NaN,WV,26241.0
2141,115 KANAWHA STREET,NaN,BUCKHANNON,NaN,WV,26201.0
2142,542 EMILY DR,NaN,CLARKSBURG,NaN,WV,26301.0
2143,105 BUFFALO WAY,NaN,JACKSON HOLE,NaN,WY,83001.0

In [25]:
a.columns

Index(['Street address', 'Address 2 ', 'City', 'County ', 'State', 'ZIP'], dtype='object')

In [26]:
a.isna().sum()

Street address       1
Address 2         1476
City                 1
County             409
State                1
ZIP                  1
dtype: int64

In [29]:
a=a.dropna(subset='Street address')

In [30]:
a.isna().sum()

Street address       0
Address 2         1475
City                 0
County             408
State                0
ZIP                  0
dtype: int64

In [ ]:
https://geocoding.geo.census.gov/geocoder/locations/onelineaddress?address=4600+Silver+Hill+Rd%2C+Washington%2C+DC+20233&benchmark=2020&format=json

## KNN implementation

In [ ]:
import numpy as np
import pandas as pd

from sklearn.datasets import make_blobs
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [ ]:
tract = pd.read_csv()
data = list(zip(x, y))

knn = KNeighborsClassifier(n_neighbors=1)

knn.fit(data, classes)

Dear Tom,

Some more addresses of US would be ideal, but instead of sending them to me, I suggest you do the following:
- Select a handful of addresses
- Find out the tract of those address on your own
- Run my code, it should give you the closest lat-lon and the name of the tract of that address
- Compare it with my result, let me know what is wrong
- If some are wrong, I would revise the code to give the expected result

Rinse and repeat