## Read the sample data from ZIP+4 Standard

In [8]:
import pandas as pd

In [9]:
standard = pd.read_csv('ZIP+4-Database-Sample.csv')

/var/folders/l3/50s9_hdj54lb4yb3x0kgvpm8ccm355/T/ipykernel_37271/3674014620.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  standard = pd.read_csv('ZIP+4-Database-Sample.csv')

In [20]:
standard.head(10)

,ZipCode,UpdateKey,Action,RecordType,CarrierRoute,StPreDirAbbr,StName,StSuffixAbbr,StPostDirAbbr,AddressPrimaryLowNumber,...,UrbanizationKey,PreferredLastLineKey,ToLatitude,FromLatitude,ToLongitude,FromLongitude,CensusTract,CensusBlock,TLID,LatLonMultiMatch
0,6468,V204156243,A,S,R014,NaN,KETTLE CREEK,LN,NaN,0000000031,...,NaN,V20389,41.340739,41.341034,-73.198094,-73.200015,100300.0,8004.0,3279602.0,NaN
1,6468,V204156244,A,S,R004,NaN,KIMBERLY,DR,NaN,0000000002,...,NaN,V20389,41.333892,41.335695,-73.240468,-73.241559,100200.0,3007.0,3286518.0,NaN
2,6468,V204156245,A,S,R004,NaN,KIMBERLY,DR,NaN,0000000001,...,NaN,V20389,41.333892,41.335695,-73.240468,-73.241559,100200.0,3007.0,3286518.0,NaN
3,6468,V204156246,A,S,R004,NaN,KIMBERLY,DR,NaN,0000000017,...,NaN,V20389,41.333892,41.335695,-73.240468,-73.241559,100200.0,3007.0,3286518.0,NaN
4,6468,V204156254,A,S,R007,NaN,LANTHORNE,RD,NaN,0000000001,...,NaN,V20389,41.319396,41.321396,-73.225458,-73.224958,100200.0,3030.0,3216859.0,Y
5,6468,V204156263,A,S,R004,NaN,LIMA,DR,NaN,0000000001,...,NaN,V20389,41.333095,41.334195,-73.245059,-73.243959,100200.0,3008.0,3216637.0,Y
6,6468,V204156265,A,S,R011,NaN,LITTLE DIET,RD,NaN,0000000001,...,NaN,V20389,41.334275,41.334030,-73.265516,-73.264263,100100.0,1027.0,3281228.0,Y
7,6468,V204156268,A,S,R007,NaN,LONGVIEW,RD,NaN,0000000002,...,NaN,V20389,41.327696,41.328196,-73.225058,-73.221958,100200.0,3018.0,3216845.0,Y
8,6468,V204156269,A,S,R007,NaN,LONGVIEW,RD,NaN,0000000054,...,NaN,V20389,41.327196,41.327696,-73.227958,-73.225058,100200.0,3013.0,3216847.0,Y
9,6468,V204156270,A,S,R007,NaN,LONGVIEW,RD,NaN,0000000001,...,NaN,V20389,41.327696,41.328196,-73.225058,-73.221958,100200.0,3018.0,3216845.0,NaN

In [25]:
len(set(standard[standard['ZipCode']==6468]['CarrierRoute']))

31

In [21]:
standard.iloc[4]

ZipCode                           6468
UpdateKey                   V204156254
Action                               A
RecordType                           S
CarrierRoute                      R007
StPreDirAbbr                       NaN
StName                       LANTHORNE
StSuffixAbbr                        RD
StPostDirAbbr                      NaN
AddressPrimaryLowNumber     0000000001
AddressPrimaryHighNumber    0000000099
AddressPrimaryEvenOdd                B
BuildingName                       NaN
AddressSecAbbr                     NaN
AddressSecLowNumber                NaN
AddressSecHighNumber               NaN
AddressSecOddEven                  NaN
Plus4Low                          1728
Plus4High                         1728
BaseAlternateCode                    B
LACSStatus                         NaN
GovernmentBuilding                 NaN
FinanceNumber                    84392
State                               CT
CountyFIPS                           1
CongressionalDistrict                4
MunicipalityKey                    NaN
UrbanizationKey                    NaN
PreferredLastLineKey            V20389
ToLatitude                   41.319396
FromLatitude                 41.321396
ToLongitude                 -73.225458
FromLongitude               -73.224958
CensusTract                   100200.0
CensusBlock                     3030.0
TLID                         3216859.0
LatLonMultiMatch                     Y
Name: 4, dtype: object

In [33]:
standard.dtypes

ZipCode                       int64
UpdateKey                    object
Action                       object
RecordType                   object
CarrierRoute                 object
StPreDirAbbr                 object
StName                       object
StSuffixAbbr                 object
StPostDirAbbr                object
AddressPrimaryLowNumber      object
AddressPrimaryHighNumber     object
AddressPrimaryEvenOdd        object
BuildingName                 object
AddressSecAbbr               object
AddressSecLowNumber          object
AddressSecHighNumber         object
AddressSecOddEven            object
Plus4Low                     object
Plus4High                    object
BaseAlternateCode            object
LACSStatus                   object
GovernmentBuilding          float64
FinanceNumber                 int64
State                        object
CountyFIPS                    int64
CongressionalDistrict         int64
MunicipalityKey             float64
UrbanizationKey             float64
PreferredLastLineKey         object
ToLatitude                  float64
FromLatitude                float64
ToLongitude                 float64
FromLongitude               float64
CensusTract                 float64
CensusBlock                 float64
TLID                        float64
LatLonMultiMatch             object
dtype: object

In [11]:
standard.isna().sum()

ZipCode                         0
UpdateKey                       0
Action                          0
RecordType                      0
CarrierRoute                    0
StPreDirAbbr                46961
StName                          0
StSuffixAbbr                 1258
StPostDirAbbr               47923
AddressPrimaryLowNumber        74
AddressPrimaryHighNumber       74
AddressPrimaryEvenOdd           0
BuildingName                42285
AddressSecAbbr              37682
AddressSecLowNumber         37780
AddressSecHighNumber        37780
AddressSecOddEven           33726
Plus4Low                        0
Plus4High                       0
BaseAlternateCode               0
LACSStatus                  47990
GovernmentBuilding          48188
FinanceNumber                   0
State                           0
CountyFIPS                      0
CongressionalDistrict           0
MunicipalityKey             48188
UrbanizationKey             48188
PreferredLastLineKey            0
ToLatitude                      0
FromLatitude                    0
ToLongitude                     0
FromLongitude                   0
CensusTract                 19348
CensusBlock                 19348
TLID                        19348
LatLonMultiMatch            34217
dtype: int64

In [16]:
sum(standard.isna().sum() > 0) / len(standard.columns) * 100

48.64864864864865

In [26]:
# if zip codes and routes are the pk

In [38]:
standard.shape

(48188, 37)

In [37]:
standard[['ZipCode', 'CarrierRoute', 'StName']].drop_duplicates()

       ZipCode CarrierRoute        StName
0         6468         R014  KETTLE CREEK
1         6468         R004      KIMBERLY
4         6468         R007     LANTHORNE
5         6468         R004          LIMA
6         6468         R011   LITTLE DIET
...        ...          ...           ...
47410     6811         C070  ROWAN STREET
47508     6810         C079       BRISTOL
47557     6606         C019       MICHAEL
47561     6484         C007          JOEL
47735     6801         C014      WILDWOOD

[7315 rows x 3 columns]

In [43]:
standard[['ZipCode', 'CarrierRoute', 'StName', 'AddressPrimaryLowNumber']].drop_duplicates()

       ZipCode CarrierRoute        StName AddressPrimaryLowNumber
0         6468         R014  KETTLE CREEK              0000000031
1         6468         R004      KIMBERLY              0000000002
2         6468         R004      KIMBERLY              0000000001
3         6468         R004      KIMBERLY              0000000017
4         6468         R007     LANTHORNE              0000000001
...        ...          ...           ...                     ...
48119     6608         C017         NOBLE              0000000941
48170     6810         C040          WEST              0000000074
48182     6606         C002          MAIN              0000002765
48183     6606         C002          MAIN              0000002801
48184     6611         C025     OLD GREEN              0000000001

[36427 rows x 4 columns]

In [36]:
standard[(standard['ZipCode']==6468) & (standard['CarrierRoute']=='R014')]

,ZipCode,UpdateKey,Action,RecordType,CarrierRoute,StPreDirAbbr,StName,StSuffixAbbr,StPostDirAbbr,AddressPrimaryLowNumber,...,UrbanizationKey,PreferredLastLineKey,ToLatitude,FromLatitude,ToLongitude,FromLongitude,CensusTract,CensusBlock,TLID,LatLonMultiMatch
0,6468,V204156243,A,S,R014,NaN,KETTLE CREEK,LN,NaN,0000000031,...,NaN,V20389,41.340739,41.341034,-73.198094,-73.200015,100300.0,8004.0,3279602.0,NaN
54,6468,V204156376,A,S,R014,NaN,MONROE,TPKE,NaN,0000000260,...,NaN,V20389,41.302196,41.301696,-73.223558,-73.223858,100100.0,9042.0,3217072.0,Y
55,6468,V204156379,A,S,R014,NaN,MONROE,TPKE,NaN,0000000300,...,NaN,V20389,41.313296,41.312196,-73.219658,-73.220858,100200.0,2004.0,3217056.0,Y
56,6468,V204156380,A,S,R014,NaN,MONROE,TPKE,NaN,0000000450,...,NaN,V20389,41.314296,41.313296,-73.218658,-73.219658,100200.0,2004.0,3217059.0,Y
57,6468,V204156381,A,S,R014,NaN,MONROE,TPKE,NaN,0000000484,...,NaN,V20389,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43038,6468,V210433963,A,S,R014,NaN,MILL BROOK,TER,NaN,0000000101,...,NaN,V20389,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
45688,6468,V210631503,A,H,R014,NaN,MONROE,TPKE,NaN,0000000500,...,NaN,V20389,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
47089,6468,V210695564,A,H,R014,NaN,MONROE,TPKE,NaN,0000000470,...,NaN,V20389,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
47090,6468,V210695565,A,H,R014,NaN,MONROE,TPKE,NaN,0000000470,...,NaN,V20389,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
47127,6468,V210700742,A,H,R014,NaN,MONROE,TPKE,NaN,0000000470,...,NaN,V20389,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN

In [44]:
# Street name is from https://catalog.data.gov/dataset/street-names

In [45]:
street_names = pd.read_csv('Street_Names.csv')

In [46]:
street_names.sample(20)

          FullStreetName       StreetName StreetType PostDirection
2267       SUNNYDALE AVE        SUNNYDALE        AVE           NaN
475   DR MAYA ANGELOU LN  DR MAYA ANGELOU         LN           NaN
5                03RD ST             03RD         ST           NaN
1156           HORACE ST           HORACE         ST           NaN
2173          SHIPLEY ST          SHIPLEY         ST           NaN
1429       LIVINGSTON ST       LIVINGSTON         ST           NaN
792        ELLINGTON AVE        ELLINGTON        AVE           NaN
601            CORONA ST           CORONA         ST           NaN
428         CAMELLIA AVE         CAMELLIA        AVE           NaN
2405         UNNAMED 051      UNNAMED 051        NaN           NaN
1370           KELHAM ST           KELHAM         ST           NaN
729           DORCAS WAY           DORCAS        WAY           NaN
510             CHILD ST            CHILD         ST           NaN
200            ATOLL CIR            ATOLL        CIR           NaN
1843       PENINSULA AVE        PENINSULA        AVE           NaN
1596           METSON RD           METSON         RD           NaN
1924           PUTNAM ST           PUTNAM         ST           NaN
629      CRESTA VISTA DR     CRESTA VISTA         DR           NaN
298        BENNINGTON ST       BENNINGTON         ST           NaN
1644          MONTANA ST          MONTANA         ST           NaN

In [47]:
# https://catalog.data.gov/dataset/zip-code-data

## Recreation of ZIP-codes.com data

### Read from

## Enrich from API

^ This much percents of columns has `null` in them

1. Getting your secret key at
2. Save to file .secret with structure
```
key: *paste_your_key_here*
```
3. Run this notebook

In [3]:
import yaml

with open(".secret", "r") as stream:
    try:
        secret=yaml.safe_load(stream)
    except yaml.YAMLError as exc:
        print(exc)

In [7]:
from census import Census
from us import states

c = Census(secret['key'])
c.acs5.get(('NAME', 'B25034_010E'),
          {'for': 'state:{}'.format(states.MD.fips)})

[{'NAME': 'Maryland', 'B25034_010E': 127820.0, 'state': '24'}]